body
{
    color:rgb(0, 0, 0);
    background:rgb(127, 161, 177);
}
.heading
{
    width: 90%;
    font-size: 25px;
}
#camera
{
    border:2px dashed rgb(28, 3, 255);
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy 
{
    color:rgb(0, 0, 0);
}